#fixedmenu{
    text-align: left;
    padding-left: 450px;
}
#submit{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 3px solid transparent;
    border-color: white;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #000075;
    height: 48px;
   

}
#submit:hover{
    background-color: #000080;
    box-shadow: 0px 0px 8px black;
}
#clear{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 3px solid transparent;
    border-color: white;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #000075;
    height: 48px;
   

}
#clear:hover{
    background-color: #000080;
    box-shadow: 0px 0px 8px black;
}
#billdate{
    box-sizing: border-box;
font-family: inherit;
font-size: 20px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 29%;
height: 40px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#billdate:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}
#shopname{
    box-sizing: border-box;
font-family: inherit;
font-size: 20px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 30%;
height: 40px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#shopname:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}
#invoiceno{
    box-sizing: border-box;
font-family: inherit;
font-size: 20px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 30%;
height: 40px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#invoiceno:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}
#qty{
    box-sizing: border-box;
font-family: inherit;
font-size: 20px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 29.5%;
height: 40px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#qty:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}
#amount{
    box-sizing: border-box;
font-family: inherit;
font-size: 20px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 30%;
height: 40px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#amount:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}
#uploadfile{
    box-sizing: border-box;
font-family: inherit;
font-size: 13px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 30%;
height: 30px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#uploadfile:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}
#itemname{
box-sizing: border-box;
font-family: inherit;
font-size: 20px;
vertical-align: baseline;
font-weight: 400;
line-height: 1.29;
letter-spacing: .16px;
border-radius: 0;
outline: 2px solid transparent;
outline-offset: -2px;
width: 30%;
height: 40px;
border: none;
border-bottom: 2px solid rgb(19, 18, 18);
background-color: #d1d0d0;
padding: 0 16px;
color: #161616;
transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9); 
}
#itemname:focus{
    outline: 2px solid #000075;
    outline-offset: -2px;
}