{% extends "shop/layouts/main.html" %}
    {%block title%}
         Non Fixed
    {%endblock title%}
    {%block contenttitle%}	
    <h2> Non-Fixed</h2>	
    {%endblock contenttitle%}
    {%block alert%}
        {% if messages%}
            {% for message in messages%}
            <div id="mes" >
               <h3 id="alert">&#128077; {{message}}</h3>
            </div>
            {%endfor%}
        {%endif%}
    {%endblock alert%}
    {%block content%}
    <h2>
     <form id="fixedmenu"autocomplete="off" method="post" action="insertnonfixed" >
        {% csrf_token %}
         <label for="billingdate">Billing Date &nbsp;&nbsp;: </label>
         &ensp;<input type="date" id="billdate" name="billdate2"><br><br>
         <label for="shopname">Shop Name &ensp;: </label>
         &ensp;<input type="text" id="shopname" name="shopname2" placeholder="Enter Shop Name..."><br><br>
         <label for="invoiceno">Invoice No &ensp;&nbsp;: </label>
         &ensp;<input type="text" id="invoiceno" name="invoiceno2" placeholder="Enter Invoice No..."><br><br>
         <label for="itemname">Item Name &ensp;: </label>
         &ensp;<input type="text" id="itemname" name="itemname2" placeholder="Enter Item Name..."><br><br>
         <label for="qty">Qty&emsp;&emsp;&emsp;&ensp;&nbsp; : </label>
         &ensp;<input type="text" id="qty" name="qty2" placeholder="Enter Qty..."><br><br>
         <label for="amount">Amount &emsp;&ensp;&nbsp;: </label>
         &ensp;<input type="text" id="amount" name="amount2" placeholder="Enter Total Amount..."><br><br>
         <label for="uploadfile" >Upload File &nbsp;: </label>
         &ensp;<input type="file" id="uploadfile" name="uploadfile" ><br><br> 
         <input id="submit" type="submit" value="Submit">&ensp;
         <input id="clear" type="reset" value="Clear">
     </form>     
     </h2>
    {%endblock content%}