{%load static%}
<html>
     <head>
		<title>
		{%block title%}
		Account Management System
		{%endblock title%}
        </title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fixed.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/statement.css' %}">
		<style>
			#content{
				background-image: url("{% static 'images/logo.jpg' %}");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 800px 800px;
				height:1000px;
				left: 0px;
				bottom: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
	 </head>
	 <body>
		<div id="menu">
			<center style="color:white;line-height:0.3;word-spacing:4px;letter-spacing:2px" >
              <h2 >PERIYAR UNIVERSITY</H2>
			  <h5 >NAAC <sup>A++</sup> Grade - State University - NIRF Rank 59 </h5>
			  <h4 > Salem - 636011, Tamil Nadu, India</h4>
			  <h3>Department of Computer Science</h3>
			  <h3>Expenses Account Management System<h3>
			  </center>
		</div>
		<div id="nav" >
			<ul>
				&emsp;&emsp;
				<li><a href="{%url 'index'%}" target="_parent">Home</a></li>&ensp;
				<li><a href="{%url 'fixed'%}" target="_parent">Fixed</a></li>&ensp;
				<li><a href="{%url 'Nonfixed'%}" target="_parent">Non-fixed</a></li>&ensp;
				<li><a href="{%url 'Statement'%}" target="_parent">Statement</a></li>&ensp;
				<li><a href="{%url 'about'%}" target="_parent" >About</a></li>
			</ul>
			<ul>
				<li><a href="{%url 'help'%}" target="_parent">Help &#63;</a></li>
			</ul>
		</div>
		<div id="content" background-image:"{% static 'css/logo.jpg' %}";>
			
			<div id="contentin"><center>
				{%block contenttitle%}
				{%endblock contenttitle%}
				</center><hr>
				{%block content%}
				{%endblock content%}
			</div>
		</div>
		<div id="bottom"><center>
			<br>
          <p > &#169; Copyright</p></center>
		</div>
	 </body>
</html>